html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Futura PT, sans-serif;
}

.title {
    font-family: Rockwell;
    font-weight: bold;
    margin-bottom: -0.5rem;
}

@media (max-width: 767.98px) {
    .title {
        font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 7rem;
    }
}

.row {
    margin-right: 0%;
}

.landing {
    background-color: #252d38;
    color: #d8dee9;
    padding-left: 0.5rem;
    height: 70%;
}

.landing-subtext {
    color: #ad824e;
}

.posts {
    background-color: #bec8da;
    color: #252d38;
    padding-left: 1rem;
}

.post-title {
    font-family: Rockwell;
    font-size: 5rem;
}

@media (min-width: 768px) {
    .card {
        min-height: 370px;
    }
}


.btn-outline-warning {
    background-color: #00000000;
    border-color: #ad824e;
    color: #ad824e;
}

.btn-outline-warning:hover {
    background-color: #ad824e;
    border-color: #ad824e;
}

.btn-outline-warning:active,
.btn-outline-warning:focus {
    color: #fff;
    background-color: #ad824e !important;
    border-color: #ad824e !important;
    box-shadow: 0 0 0 0.2rem rgba(213,160,33, 0.5) !important;
}